*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
}


.container{
    height: 100%;
    width: 200vw;
  background: url(assets/Img_1.png);
 background-size: cover;
  animation: bg 15s infinite linear;
  background-repeat: repeat-x;
    
}
@keyframes bg{

    100%{
        transform: translateX(-100vw);
    }
}
.road{
  background-image: url(assets/Img_02.png);
    height: 30vh;
    width: 3000px;
    position: absolute;
    bottom: 0;
 
    animation: road 2s infinite linear;
 background-repeat: repeat-x;
}
@keyframes road{

100%{
    transform: translateX(-1400px);
}
}
.car{
position: absolute;
bottom: 13vh;
animation: car 2s linear infinite , move 5s linear infinite;


}
@keyframes car{
    0%{
transform: translateY(-4px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-4px);

    }
}
@keyframes move{
    0%{
 
       transform: translateX(0px);

    }
    30%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(80px);

    }
    100%{
        transform: translateX(0px);

    }
}
